include requirements.txt
include lal/LALCosmologyCalculator.h
include figaro/cosmology.pxd
include figaro/cosmology.pyx
include figaro/cosmology.c
include figaro/cumulative.pyx
include figaro/cumulative.c
